<Layouts.app flash={@flash}>
  <.container max_width={:xl}>
    <.stack gap={:xl}>
      <.stack gap={:s}>
        <.heading level={1}>Edit Note</.heading>
        <p class="text-sm opacity-70">
          Type: {@note.note_type.name} · Directory: {@note.directory.path}
        </p>
      </.stack>

      <.form for={@form} phx-change="validate" phx-submit="save" id="note-edit-form">
        <.stack gap={:l}>
          <.input field={@form[:name]} type="text" label="Name" required />

          <.input
            field={@form[:filename]}
            type="text"
            label="Filename"
            disabled
          />

          <XenoWeb.NoteComponents.note_tags_input
            field={@form[:tags]} 
            value={@note.tags_string}
          />

          <%!-- Markdown Editor --%>
          <XenoWeb.NoteComponents.note_markdown_editor
            field={@form[:text]}
          />

          <XenoWeb.NoteComponents.note_json_data_editor
            label="JSON Data"
            field={@form[:data]}
            value={@note.data_json_string}
          />

          <.button_group>
            <button type="submit" class="btn btn-primary">
              Save Changes
            </button>
            <button type="button" phx-click="cancel" class="btn">
              Cancel
            </button>
          </.button_group>
        </.stack>
      </.form>
    </.stack>
  </.container>
</Layouts.app>
