<Layouts.app flash={@flash}>
  <.container>
    <.stack>
      <.heading level={1}>Create Note</.heading>

      <.form
        for={@form}
        id="note-create-form"
        phx-change="validate"
        phx-submit="save"
        class="space-y-4"
      >
        <%!-- Directory Selection --%>
        <%!-- <XenoWeb.NoteComponents.directory_tree_selector --%>
        <%!--   directories={@directories} --%>
        <%!--   selected_id={@selected_directory_id} --%>
        <%!--   on_select="select_directory" --%>
        <%!--   error={get_argument_error(@form, :directory_id)} --%>
        <%!-- /> --%>

        <XenoWeb.NoteComponents.directory_tree_selector
          directories={@directories}
          field={@form[:directory_id]}
        />

        <%!-- Note Type Selection --%>
        <XenoWeb.NoteComponents.note_type_selector
          field={@form[:note_type_id]}
          label="Note Type"
          note_types={@note_types}
        />

        <%!-- Name Input --%>
        <.input field={@form[:name]} type="text" label="Name" required />

        <%!-- Filename Input --%>
        <.input
          field={@form[:filename]}
          type="text"
          label="Filename"
        />

        <%!-- Tags Input --%>
        <XenoWeb.NoteComponents.note_tags_input
          field={@form[:tags]}
          field={@form[:tags]} value={tags_to_string(@form[:tags].value)}
        />

        <%!-- Markdown Editor --%>
        <XenoWeb.NoteComponents.note_markdown_editor
          field={@form[:text]}
        />

        <%!-- JSON Data Editor --%>
        <XenoWeb.NoteComponents.note_json_data_editor
          field={@form[:data]} value={data_to_string(@form[:data].value)}
        />

        <%!-- Action Buttons --%>
        <.button_group>
          <.button type="submit" variant={:brand}>Create Note</.button>
          <.button type="button" phx-click="cancel" variant={:neutral}>Cancel</.button>
        </.button_group>
      </.form>
    </.stack>
  </.container>
</Layouts.app>
