<Layouts.app flash={@flash}>
  <.container>
    <.stack>
      <.heading level={1}>Create Note</.heading>

      <.form
        for={@form}
        id="note-create-form"
        phx-change="validate"
        phx-submit="save"
        class="space-y-4"
      >
        <%!-- Directory Selection --%>
        <XenoWeb.NoteComponents.directory_tree_selector
          directories={@directories}
          selected_id={@selected_directory_id}
          on_select="select_directory"
          error={get_argument_error(@form, :directory_id)}
        />

        <%!-- Note Type Selection --%>
        <XenoWeb.NoteComponents.note_type_selector
          note_types={@note_types}
          selected_id={@selected_note_type}
          on_change="note_type_changed"
          error={get_argument_error(@form, :note_type_id)}
        />

        <%!-- Name Input --%>
        <.input field={@form[:name]} type="text" label="Name" required />

        <%!-- Filename Input --%>
        <.input
          field={@form[:filename]}
          type="text"
          label="Filename"
          phx-change="filename_changed"
        />

        <%!-- Tags Input --%>
        <XenoWeb.NoteComponents.note_tags_input
          value={@tags_string}
          name="note[tags_string]"
          label="Tags"
        />

        <%!-- Markdown Editor --%>
        <XenoWeb.NoteComponents.note_markdown_editor
          field={@form[:text]}
          markdown_error={@markdown_error}
        />

        <%!-- JSON Data Editor --%>
        <XenoWeb.NoteComponents.note_json_data_editor
          value={@data_string}
          name="note[data_string]"
          json_error={@json_error}
        />

        <%!-- Action Buttons --%>
        <.button_group>
          <.button type="submit" variant={:brand}>Create Note</.button>
          <.button type="button" phx-click="cancel" variant={:neutral}>Cancel</.button>
        </.button_group>
      </.form>
    </.stack>
  </.container>
</Layouts.app>
