<!DOCTYPE html>
<html lang="en">
  <head>
    {Application.get_env(:live_debugger, :live_debugger_tags)}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Notes" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <script
      src="https://kit.webawesome.com/60a7aab557b2443a.js"
      crossorigin="anonymous"
    >
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          const html = document.documentElement
          if (theme === "system") {
            localStorage.removeItem("phx:theme")
            html.removeAttribute("data-theme")
          } else {
            localStorage.setItem("phx:theme", theme)
            html.setAttribute("data-theme", theme)
            // WebAwesome dark mode support
            html.classList.toggle('wa-dark', theme === 'dark')
            setThemeToggle(theme)
          }
        };

        const setThemeToggle = (theme) =>
           document.getElementById("theme-toggle")?.classList.toggle("swap-active", theme === "dark")

        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system")
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        
        window.addEventListener("phx:set-theme", ({ target }) => {
          const theme = target.dataset.phxTheme
          setTheme(theme)
        });
      })();
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
